
.bobby/

.fabric/

.physics_mod_cache/

crash-reports/

immersive_paintings_cache/

logs/

saves/

screenshots/

XaeroWaypoints_BACKUP032021/

XaeroWaypoints/

XaeroWorldMap/

voicechat_recordings/

mods/
